# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS files
.DS_Store
